<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558155467615-p7rafgt63g4bj33qt30324p5v4emfvl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558155467615-p7rafgt63g4bj33qt30324p5v4emfvl3</string>
	<key>API_KEY</key>
	<string>AIzaSyBYptG9WB7WMw5umnCtXC0WZSRITalDVsM</string>
	<key>GCM_SENDER_ID</key>
	<string>558155467615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sp.app.chat.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-flutter101</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-flutter101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558155467615:ios:298d08e299188352f904ea</string>
</dict>
</plist>